@using Eventuras.Domain
@model Eventuras.Services.Certificates.CertificateViewModel
@{
  Layout = null;
}
<html>
<head>
  <meta charset="utf8">
  <title>Certificate</title>
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Reenie+Beanie|Carrois+Gothic+SC|Libre+Baskerville"
    rel="stylesheet"/>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      font-family: 'Carrois Gothic SC';
      font-weight: 500;
      font-size: 16px;
      background: rgb(241, 241, 241);
      -webkit-print-color-adjust: exact;
      box-sizing: border-box;
    }

    .page {
      position: relative;
      height: 297mm;
      width: 210mm;
      text-align: center;
      display: block;
      background: #fff;
      color: black;
      page-break-after: auto;
      margin: 50px;
      overflow: hidden;
    }

    @@media print {
      html, body {
        font-size: 10px;
      }

      body {
        background: #fff;
      }

      .page {
        margin: 0;
        height: 100%;
        width: 100%;
      }
    }

    .page.first {
      border-left: 5px solid green;
    }

    .bottom {
      position: absolute;
      left: 5mm;
      right: 5mm;
      bottom: 5mm;
    }

    .group {
      padding: 3mm 25mm;
      margin: 5mm;
    }

    .line {
      position: relative;
    }

    .keep-lines {
      white-space: pre-line;
    }

    .center {
      text-align: center;
    }

    .logo {
      padding: 3mm;
    }

    .w-100 {
      width: 100%;
    }

    .w-75 {
      width: 75%;
    }

    .w-66 {
      width: 66%;
    }

    .w-50 {
      width: 50%;
    }

    .w-33 {
      width: 33%;
    }

    .w-25 {
      width: 25%;
    }

    .handwriting {
      font-size: 24px;
      font-family: 'Reenie Beanie';
      padding-bottom: 0;
      text-decoration: underline;
    }

    .featured {
      padding: 15mm 0 10mm 0;
      background-color: #336699;
      color: white;
    }

    .title {
      font-size: 32px
    }

    .subtitle {
      font-size: 28px
    }

    .text {
      font-family: 'Libre Baskerville', serif;
      font-size: 14px
    }

    .light {
      color: #555
    }

  </style>
</head>
<body>
<div class="page">
  <div class="featured">
    <div class="line title">Kursbevis</div>
    <div class="line subtitle">@Model.Title</div>
  </div>

  <div class="group">
    <div class="line">Tildelt</div>
    <div class="subtitle">@Model.RecipientName</div>
  </div>

  <div class="group">
    @if (Model.EvidenceDescription != null)
    {
      <p class="line">For deltakelse p&aring; @Model.EvidenceDescription</p>
    }
    <br/>
    @if (Model.Comment != null)
    {
      <p class="line">@Model.Comment</p>
      <br/>
    }
  </div>

  @if (Model.Description != null)
  {
    <div class="group">
      <p class="line keep-lines">@Model.Description</p>
    </div>
  }

  @if (Model.IssuerOrganizationName != null)
  {
    <div class="group">
      <div class="logo">
        @if (!string.IsNullOrEmpty(Model.IssuerOrganizationLogoBase64))
        {
          <img src="@Model.IssuerOrganizationLogoBase64" alt="signatur" class="center w-50"/>
        }
      </div>
      <div class="line">
        Arrangert av @Model.IssuerOrganizationName
      </div>
    </div>
  }



  <div class="group">
    <div class="line">@Model.IssuedInCity @Model.IssuingDate.ToString("dd.MMM.yyyy")</div>

    @if (!string.IsNullOrEmpty(Model.IssuerPersonSignatureImageBase64))
    {
      <div class="center">
        <img src="@Model.IssuerPersonSignatureImageBase64" class="w-33" alt="Signatur"/>
      </div>
    }
    else
    {
      <div class="line handwriting">@Model.IssuerPersonName</div>
    }
    <div class="line">@Model.IssuerPersonName</div>
    <div class="line">
      Kursansvarlig<br/>
      <br/>
      <br/>
      <small>Digitalt signert med kode <br/>
        <code>@Model.CertificateGuid</code></small>
    </div>
  </div>
</div>
</body>
</html>
