@page
@inject IEventInfoService events

@{
    ViewData["Title"] = @Site.Title;
    var onGoingEvents = await events.GetOngoingEventsAsync();
    var featuredEvents = await events.GetFeaturedEventsAsync();
    var onDemandEvents = await events.GetOnDemandEventsAsync();
    var upcomingEvents = await events.GetEventsAsync();
    var eventsByMonth =  upcomingEvents.GroupBy(e => new { e.DateStart?.Year, e.DateStart?.Month });
}

<div class="jumbotron min-height-25 m-0" style="
    background: url('/assets/images/svolvaer.jpg') no-repeat center center;
    background-position: 0% 33%;
    background-size: cover;
    background-repeat: no-repeat;
">
    <div class="container text-white">
        <h1 class="display-3">Ta kurs i Nordland</h1>
        <p>Nordland Legeforening satser på fag, kvalitet og opplevelser.</p>
    </div>
</div>

@* ONGOING EVENTS *@
@if (onGoingEvents != null && onGoingEvents.Any()) {
    <div class="bg-blue text-light">
        <div class="container py-3">
            <p class="m-0">Akkurat n&aring; arrangerer vi: 
            @foreach (var eventinfo in onGoingEvents) {
                <a asp-page="./Events/Details" asp-route-id="@eventinfo.EventInfoId" class="text-light">@eventinfo.Title</a>
            }
            </p>
        </div>
    </div>
}

<div class="bg-gray-100 py-3">
    <div class="container" id="ondemand">
      
        <div class="row">
        @foreach (var item in onDemandEvents)
            {
            <div class="col-md-6 p-1">
                <div class="card bg-white border-0 h-100">
                    <div class="card-body">
                    <h3>@item.Title</h3>
                    <p>@item.Description
                    <p class="text-muted">
                        @* Location *@
                        @if (item.Location != null) {
                            <span> <i class="material-icons align-top">location_on</i>  @item.Location</span>
                        }
                        
                        @* Dates *@
                        @if (item.DateStart != null) {
                            <i class="material-icons align-top">date_range</i>
                            @String.Format("{0:dd/MM/yyyy}", item.DateStart)
                        }
                        @if (item.DateEnd != null) {
                                <span> - @String.Format("{0:dd/MM/yyyy}", item.DateEnd)</span>
                            }
                        </p>
                    <p><a asp-page="./Events/Details" asp-route-id="@item.EventInfoId" asp-route-slug="@item.Code" class="btn btn-secondary link-decoration-none" role="button">Vis kurset »</a></p>
                    </div>
                </div>  
            </div>
            }
        </div>
    </div>
</div>


<div class="bg-gray-100">
    <div class="container min-height-50" id="featured">
        <div class="row">
        @foreach (var item in featuredEvents)
            {
                <div class="col-md-6 p-1">
                    <div class="card bg-white border-0 h-100">
                        <div class="card-body">
                        <h3>@item.Title</h3>
                        <p>@item.Description
                        <p class="text-muted">
                            @* Location *@
                            @if (item.Location != null) {
                                <span> <i class="material-icons align-top">location_on</i>  @item.Location</span>
                            }
                            
                            @* Dates *@
                            @if (item.DateStart != null) {
                                <i class="material-icons align-top">date_range</i>
                                @String.Format("{0:dd/MM/yyyy}", item.DateStart)
                            }
                            @if (item.DateEnd != null) {
                                    <span> - @String.Format("{0:dd/MM/yyyy}", item.DateEnd)</span>
                                }
                            </p>
                        <p><a asp-page="./Events/Details" asp-route-id="@item.EventInfoId" asp-route-slug="@item.Code" class="btn btn-secondary link-decoration-none" role="button">Vis kurset »</a></p>
                        </div>
                    </div>  
                </div>
            }
        </div>
    </div>
</div>

@* UpcomingEvents by month *@
<div class="bg-gray-300 my-0 py-5">
    <div class="container min-height-50" id="bymonth">
        <h1>M&aring;ned for m&aring;ned</h1>
        <div class="row">
            @foreach(var group in eventsByMonth)
            {
                <div class="col-md-4 p-1">    
                    <div class="card bg-white border-0 h-100">
                        <div class="card-body">
                            <h3>@group.Key.Month/@group.Key.Year</h3>

                            @foreach(var item in group) {
                                <p><strong>@item.Title</strong> - 
                                <span class="text-muted">
                                    @* Location *@
                                    @if (item.City != null) {
                                        <span>@item.City</span>
                                    }
                                    @if (item.Location != null) {
                                        <span> @item.Location</span>
                                    }
                                    
                                    @* Dates *@
                                    @if (item.DateStart != null) {
                                        @String.Format("{0:dd/MM/yyyy}", item.DateStart)
                                    }
                                    @if (item.DateEnd != null) {
                                            <span> - @String.Format("{0:dd/MM/yyyy}", item.DateEnd)</span>
                                        }
                                    </span>
                                    <br>
                                <a asp-page="./Events/Details" asp-route-id="@item.EventInfoId" asp-route-slug="@item.Code" class="link-decoration-none">Vis kurset »</a></p>
  
                    
                }
                                      </div>
                    </div>
                 </div>     
            }
        </div>
    </div>
</div>