@page
@inject IEventInfoService events
@{
    ViewData["Title"] = "Home page";
    var featuredEvents = await events.GetFeaturedEventsAsync();
    var groups = featuredEvents.GroupBy(e => new { e.DateStart?.Year, e.DateStart?.Month });
}

<div class="jumbotron min-height-25" style="
    background: url('/assets/images/svolvaer.jpg') no-repeat center center;
    background-position: 0% 33%;
    background-size: cover;
    background-repeat: no-repeat;
">
    <div class="container text-white">
        <h1 class="display-3">Ta kurs i Nordland</h1>
        <p>Nordland Legeforening satser på fag, kvalitet og opplevelser.</p>
    </div>
</div>

<div class="bg-gray-300"></div>
    <div class="container min-height-50" id="featured">
        
        @foreach(var group in groups)
        {
            <!--
                Year: @group.Key.Year
                Month: @group.Key.Month
            -->
            <div class="row">
            @foreach(var item in group) {
                <div class="col-md-6 p-1">
                    <div class="card bg-white border-0 h-100">
                        <div class="card-body">
                        <h3>@item.Title</h3>
                        <p>@item.Description
                        <p class="text-muted">
                            @* Location *@
                            @if (item.Location != null) {
                                <span> <i class="material-icons align-top">location_on</i>  @item.Location</span>
                            }
                            
                            @* Dates *@
                            @if (item.DateStart != null) {
                                <i class="material-icons align-top">date_range</i>
                                @String.Format("{0:dd/MM/yyyy}", item.DateStart)
                            }
                            @if (item.DateEnd != null) {
                                    <span> - @String.Format("{0:dd/MM/yyyy}", item.DateEnd)</span>
                                }
                            </p>
                        <p><a asp-page="./Events/Details" asp-route-id="@item.EventInfoId" class="btn btn-secondary link-decoration-none" role="button">Vis kurset »</a></p>
                        </div>
                    </div>  
                </div>
            }
            </div>
        }
            
    </div>
</div>