@using losol.EventManagement.Web.ViewModels.Templates.Certificates
@model CourseCertificateVM
@{
    Layout = null;
}
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Reenie+Beanie" rel="stylesheet">
        <style>
            body {
                background: #eee;
            }

            .handwriting {
                font-size: 48px;
                font-family: 'Reenie Beanie';
                padding-bottom:0;
            }

            .bg-blue {
                background-color: #336699;
            }


            .material-icons {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 48px;  /* Preferred icon size */
                display: inline-block;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;

                /* Support for all WebKit browsers. */
                -webkit-font-smoothing: antialiased;
                /* Support for Safari and Chrome. */
                text-rendering: optimizeLegibility;

                /* Support for Firefox. */
                -moz-osx-font-smoothing: grayscale;

                /* Support for IE. */
                font-feature-settings: 'liga';
            }
        </style>
    </head>
    <body>
        <div class="bg-blue">
        <div class="container pt-5 pb-3 text-center text-light">
            <h1 class="display-2">Certificate</h1>
            <i class="material-icons">linear_scale</i>
        </div>
        </div>

        <div class="container text-center py-3">
        <h1 class="py-3">@Model.Title</h1>
        <div class="text-center">@Model.RecipientName</div>
        <div class="text-center">REQUIREMENTS PASSED (WITH DATES)</div>
        </div>

        <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
            <figure class="figure">
                <img src="/assets/images/logos/logo-nordland_legeforening-small-transparent.png" class="figure-img img-fluid" alt="nordland legeforening logo">
                <figcaption class="figure-caption">Arranged by @Model.IssuerOrganizationName</figcaption>
            </figure>
            </div>
        </div>
        </div>

        <div class="container py-5">
        <div class="text-center"><strong>Accreditations</strong> </div>
        <div class="text-center">- First accrediation for one group of doctors</div>
        <div class="text-center">- And maybe one accrediation for another group of doctors</div>
        </div>

        <div class="container py-3 text-center">
        <div class="pb-3">@Model.City, @Model.Date </div>
        <div class="handwriting">@Model.IssuerPersonName</div>
        <hr class="w-25 p-0" />
        <div class="text-center">Navn på den som er kursleder</div>
        <div class="text-center">Digitally signed with signature (@Model.CertificateGuid)</div>
        </div>
    </body>
</html>