@page "{id}"
@model losol.EventManagement.Pages.Admin.Users.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container py-5">
<h2>Slett bruker</h2>

<h3>Er du helt sikker på at du vil slette denne brukeren?</h3>
<p>Brukeren vil arkiveres, og det er kun Ole som kan gjenopprette vedkommende.</p>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ApplicationUser.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</div>