@page "{id}"
@model losol.EventManagement.Pages.Admin.Users.DetailsModel
@{
    ViewData["Title"] = "Endre passord";
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="bg-gray-300">
    <div class="container py-5">
        <h1>@Model.UserProfile.Name</h1>
        <p class="lead">
            <i class="material-icons">phone</i> @Model.UserProfile.Phone <span class="mr-5"></span>
            <i class="material-icons">email</i> @Model.UserProfile.Email
        </p>
        <a asp-page="Edit" asp-route-id="@Model.UserProfile.UserId" class="btn btn-warning link-decoration-none">Endre bruker</a>
        <a asp-page="Delete" asp-route-id="@Model.UserProfile.UserId" class="btn btn-danger link-decoration-none">Slett bruker</a>
    </div>
</div>
<div class="container min-height-50 py-5">
    <div class="row">
        @if (Model.UserProfile.Registrations != null && Model.UserProfile.Registrations.Any()) {
            foreach (var registration in Model.UserProfile.Registrations)
            {
                <div class="col-md-4">
                    <div class="card m-3">
                        <div class="card-body">
                            <h3 class="card-title">@registration.EventInfo.Title</h3>

                            <p class="text-muted small">
                            @if (registration.EventInfo.DateStart.HasValue) {
                                <span>@registration.EventInfo.DateStart.Value.ToString("d")</span>
                            }
                            @if (registration.EventInfo.DateEnd.HasValue) {
                                <span> - @registration.EventInfo.DateEnd.Value.ToString("d")</span>
                            }
                            </p>
                            <p>
                                <span class="badge badge-info">@registration.Status</span>
                                <span class="badge badge-info">@registration.Type</span>
                            </p>
                            <a asp-page="../Registrations/Details" asp-route-id="@registration.RegistrationId" class="btn btn-secondary link-decoration-none">Vis registrering</a>
                        </div>
                    </div>
                </div>
            } 
        } else {
            <div class="card outline-danger">
                <div class="card-body">
                    <h2>Ingen registreringer</h2>
                    <p>...enda...</p>
                
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
