@page "{id:int}"
@inject IProductsService productsService
@using Newtonsoft.Json
@{
    var id = Convert.ToInt32(RouteData.Values["id"]);
    var product = await productsService.GetAsync(id);
    var registrations = await productsService.GetRegistrationsAsync(id);
}

<div class="container">
	<div class="row">
		<div class="col-6">
            <h2>@product.Name (@product.Eventinfo.Title)</h2>
            <strong>Registration Count:</strong> @registrations.Count()
            <button class="btn btn-secondary" data-toggle="modal" data-target="#add-user-modal">Add User</button>
            <button class="btn btn-secondary" id="btn-send-emails">Email</button>
            <button class="btn btn-secondary" id="btn-send-sms">SMS</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
            @await Html.PartialAsync("_registrationTable", Tuple.Create(registrations, id, true))
		</div>
	</div>

    @foreach(var v in product.ProductVariants)
    {
        var varRegistrations = registrations.Where(r => r.Orders.Any(o => o.OrderLines.Any(l => l.ProductVariantId == v.ProductVariantId) == true)).ToList();
        <div class="row">
            <div class="col-md-9">
                <h3>@v.Name</h3>
                <strong>Registration Count: </strong>@varRegistrations.Count()
                @await Html.PartialAsync("_registrationTable", Tuple.Create(varRegistrations, id, false))
            </div>
        </div>
    }
</div>

@Html.Partial("Partials/_EmailModal")
@Html.Partial("Partials/_SmsModal")

<div id="add-user-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h2 class="text-danger"> IKKE FERDIG</h2>
        <div class="form-group">
            <label class="control-label">User Email</label>
            <input id="input-email" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Variant</label>
            <select id="input-variant" 
                class="form-control" 
                @(product.ProductVariants.Any() ? "" : "disabled") >
                @foreach(var v in product.ProductVariants)
                {
                    <option value="@v.ProductVariantId">@v.Name</option>    
                }
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-add-user" type="button" class="btn btn-primary">Add Order</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


@section scripts { 
<script>
    $(function () {
        var $table = $('table');
        window.icons = {
            toggle: 'fa-toggle-on',
            columns: 'fa-th-list',
            export: 'fa-download'
        };

        const inputEmail = $('#input-email');
        const inputVariant = $('#input-variant');
        $('#btn-add-user').on('click', function(){
            const data = {
                email: inputEmail.val(),
                productId: @product.ProductId,
                productVariantId: inputVariant.val()
            }
            $.postJSON('/api/v0/products/add-user', data)
             .done(function(){
                 toastr.success('User added!')
             }).fail(function(){
                 toastr.error('Error adding user.')
             });
        })
    });
</script>
<script>
(function () {
    const emails = @Html.Raw(JsonConvert.SerializeObject(@registrations.Select(r => new {name = r.ParticipantName, email = r.User.Email})));
    const phones = @Html.Raw(JsonConvert.SerializeObject(@registrations.Select(r => r.User.PhoneNumber )));
    let recipients = []; @*used by the email and sms scripts*@
    $('#btn-send-emails').bind('click', function() {
        recipients = emails;
        showEmailModal('all');
    })
    $('#btn-send-sms').bind('click', function() {
        recipients = phones;
        showSmsModal('all');
    })
})();
</script>
@Html.Partial("Partials/_EmailModalScripts")
@Html.Partial("Partials/_SmsModalScripts")
@await Html.PartialAsync("_CompBootstrapTable")
<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
}
