@page "{id:int}"
@inject IProductsService productsService
@inject IRegistrationService registrationService
@using Newtonsoft.Json
@{
    var id = Convert.ToInt32(RouteData.Values["id"]);
    var product = await productsService.GetAsync(id);
    var registrations = await productsService.GetRegistrationsForProductAsync(id);
    var eventRegistrations = await registrationService.GetRegistrations(product.EventInfoId) ?? new List<Registration>();
}

<div class="bg-gray-300">
    <div class="container py-5">
        <h1>@product.Name</h1>
        <p class="lead">@product.Eventinfo.Title</p>
        <p class"lead">Antall solgt: </strong> @registrations.Count()
        <div id="menu">
            <button class="btn btn-secondary" id="btn-send-emails">Epost til alle</button>
            <button class="btn btn-secondary" id="btn-send-sms">SMS til alle</button>
            <div class="form-check">
                <label class="form-check-label">
                    <input asp-for="@product.Published" data-id="@product.ProductId" class="form-check-input" type="checkbox" value="">
                    Publisert
                </label>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partials/_EmailModal")
@Html.Partial("Partials/_SmsModal")
@await Html.PartialAsync("_CompBootstrapTable")

<div class="container  py-5">
<table 
    class="table" 
    data-toggle="table" 
    data-pagination="false"
    data-show-columns="true"
    data-show-export="true"
    data-sort-name="name"
    data-sort-order="asc"
    data-icons-prefix="fa"
    data-icons="icons"
    data-search="true"
    data-advanced-search="true"
    data-search-align="left"
    data-click-to-select="true"
    data-id-table="advancedTable"
    data-export-options='{"fileName": "registrations-for-product-@id-@DateTime.Now.ToString("yyyy-MM-dd")"}'>
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">Deltaker</th>
            <th data-field="phone" data-sortable="true">Telefon</th>
            <th data-field="email" data-sortable="true">Epost</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in registrations)
        {
            <tr>
                <td data-field="name" data-sortable="true">@r.User.Name</td>
                <td data-field="phone" data-sortable="true">@r.User.PhoneNumber</td>
                <td data-field="email" data-sortable="true">@r.User.Email</td>
            </tr>
        }
    </tbody>
</table>
</div>

<div class="bg-gray-100">
    @if (product.ProductVariants.Any()) {
        @foreach (var variant in product.ProductVariants) {
            var variantregistrations = await productsService.GetRegistrationsForProductVariantAsync(variant.ProductVariantId);
            
            <div class="container py-3 ">
                <h1 class="section py-3">@variant.Name</h1>
                <table 
                    class="table" 
                    data-toggle="table" 
                    data-pagination="false"
                    data-show-columns="true"
                    data-show-export="true"
                    data-sort-name="name"
                    data-sort-order="asc"
                    data-icons-prefix="fa"
                    data-icons="icons"
                    data-search="true"
                    data-advanced-search="true"
                    data-search-align="left"
                    data-click-to-select="true"
                    data-id-table="advancedTable"
                    data-export-options='{"fileName": "registrations-for-product-@id-@DateTime.Now.ToString("yyyy-MM-dd")"}'>
                    <thead>
                        <tr>
                            <th data-field="name" data-sortable="true">Deltaker</th>
                            <th data-field="phone" data-sortable="true">Telefon</th>
                            <th data-field="email" data-sortable="true">Epost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var r in variantregistrations)
                        {
                            <tr>
                                <td data-field="name" data-sortable="true">@r.ParticipantName</td>
                                <td data-field="phone" data-sortable="true">@r.User.PhoneNumber</td>
                                <td data-field="email" data-sortable="true">@r.User.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>

@section scripts {
<script>

    $('#product_Published').change(function() {
        var productStatus = {
            id : $(this).data('id'),
            published : $(this).is(':checked')
        };
        $.postJSON('/api/v0/products/' + productStatus.id + '/published/' + productStatus.published, null)
            .done(function(){
                toastr.success('Oppdatert publiseringsstatus!')
                location.reload()
            })
            .fail(function(){
                toastr.error('Sorry.')
            });
    });


    $('.variant-published-status').change(function() {
        var productStatus = {
            id : $(this).data('id'),
            published : $(this).is(':checked')
        };
        $.postJSON('/api/v0/products/variant/' + productStatus.id + '/published/' + productStatus.published, null)
            .done(function(){
                toastr.success('Oppdatert publiseringsstatus!')
                location.reload()
            })
            .fail(function(){
                toastr.error('Sorry.')
            });
    });
</script>
<script>
// For SMS and email scripts
let recipients = []; 
let includeOrders = true;
let eventId = @product.EventInfoId;
(function () {
    const emails = @Html.Raw(JsonConvert.SerializeObject(@registrations.Select(r => new {name = r.ParticipantName, email = r.User.Email})));
    const phones = @Html.Raw(JsonConvert.SerializeObject(@registrations.Select(r => r.User.PhoneNumber )));
    $('#btn-send-emails').bind('click', function() {
        recipients = emails;
        showEmailModal('all');
    })
    $('#btn-send-sms').bind('click', function() {
        recipients = phones;
        showSmsModal('all');
    })
})();
</script>
@Html.Partial("Partials/_EmailModalScripts")
@Html.Partial("Partials/_SmsModalScripts")

<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
}
