@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<html>
<head>
    <title>@Localizer["Welcome to {0}!", Model.EventInfo.Title]</title>
    <style>
        body {
            font-family: "Arial", sans-serif;
        }
    </style>
</head>
<body>

    <p><strong>@Localizer["Hi {0}!", Model.ParticipantName]</strong></p>

    @* Remind the user to verify his order *@
    @if (Model.Verified == false)
    {
        <hr />
        <p>@Localizer["<strong>Important: </strong>To confirm, you must <a href=\"{0}\"> click here </a>.", Model.VerificationUrl] </p>
        <p><i>@Localizer["Doesn't the button work? Then you can confirm by copying this link into your browser: {0}", Model.VerificationUrl]</i></p>
        <hr />
    }

    @* The message *@
    @Html.Raw(Model.Message)

    @* Summary of current ordered products *@
    <p>&nbsp;</p>
    <p>@Localizer["You are receiving this email because you are signed up {0}. Updated program can be found <a href=\"{1}\">on the website</a>.", Model.EventInfo.Title, Model.EventLink]</p>
    @if (Model.HasOrder)
    {
        <h4>Dine ordrer</h4>
        @foreach (var order in Model.Orders)
        {
            <p>@Localizer["Order # {0}", order.OrderId]</p>
            <ul>

                @foreach (var orderline in order.OrderLines)
                {
                    <li>
                        @if (orderline.Quantity != 1)
                        {
                            <span> @orderline.Quantity x </span>
                        }
                        @orderline.ProductName @orderline.ProductDescription.
                        @if (!string.IsNullOrEmpty(orderline.ProductVariantName))
                        {
                            <i>@Localizer["Variation: {0}", orderline.ProductVariantName . orderline.ProductVariantDescription]</i>
                        }
                    </li>

                }
            </ul>
        }
    }

    <p>&nbsp;</p>
    <p>@Localizer["This email was sent from the course system to the Nordland Medical Association, Mørkvedsentret 17, 8028 Bodø"]</p>

</body>
</html>
