@page
@model IndexModel

<div class="bg-gray-300">
    <div class="container py-5">
        <h1>@Model.CurrentUser.Name</h1>
        <p class="lead">
            <i class="material-icons">phone</i> @Model.CurrentUser.PhoneNumber <span class="mr-5"></span>
            <i class="material-icons">email</i> @Model.CurrentUser.Email
        </p>
    </div>
</div>
<div class="container py-5 min-height-66">
    <div class="row py-5">
        <div class="card">
                <div class="card-body">
                    <h4>My online courses</h4>
                    @foreach(var course in Model.OnlineCourses)
                    {
                        <button data-id="@course.Id"
                            data-target="#modal-course" data-toggle="modal"
                            class="btn btn-success d-block btn-goto-course" 
                            style="margin-bottom: 10px; width: 100%">@course.Title</button>
                    }
            </div>
        </div>
    </div>
    <div class="row">
        <h4>My registrations</h4>
    </div>
    <div class="row">
        @foreach (var registration in Model.Registrations) {
            <div class="col-md-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5>@registration.EventInfo.Title</h5>
                        @foreach (var order in registration.Orders) {
                            <p>Ordre nr. @order.OrderId</p>
                            <ul class="list-group list-group-flush bg-light">
                                @foreach (var orderline in order.OrderLines) {
                                     <li class="list-group-item bg-light">@orderline.ProductName</li>
                                }
                               
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
            
    </div>
</div>


<div id="modal-course" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- !!! Remove this after updating the text/design. -->
        <!-- <h5 class="modal-title">Goto Course</h5> -->
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <a id="btn-goto-course" href="#" target="_blank"
            role="button" 
            class="btn btn-primary">GO!</a>
      </div>
    </div>
  </div>
</div>

@section scripts {
<script>
(function (){
    const $modal = $('#modal-course');
    const $linkGo = $('#btn-goto-course');

    $modal.on('show.bs.modal', function(e){
        // disable the course link until the course link is loaded
        $linkGo.addClass('disabled');

        const courseId = $(e.relatedTarget).data('id');
        $.getJSON('/api/v0/events/course_link/' + courseId).done(function(data){
            console.log(data)
            $linkGo.prop("href", data.link);
            $linkGo.removeClass('disabled');
        })
        
    })
})();
</script>
}
