@page
@model Eventuras.Web.Pages.Admin.Events.CreateModel

@{
    ViewData["Title"] = "Nytt kurs";
}

<div class="container">

<h1>Rediger kurs</h1><hr />
<div class="row">
    <div class="col-12">

        <form id="main-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="EventInfo.Title" class="control-label"></label>
                <input asp-for="EventInfo.Title" class="form-control" />
                <span asp-validation-for="EventInfo.Title" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="EventInfo.Slug" class="control-label"></label>
                <input asp-for="EventInfo.Slug" class="form-control" />
                <span asp-validation-for="EventInfo.Slug" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <label>
                        <input asp-for="EventInfo.Published" /> @Html.DisplayNameFor(model => model.EventInfo.Published)
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input asp-for="EventInfo.ManageRegistrations" /> @Html.DisplayNameFor(model => model.EventInfo.ManageRegistrations)
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label>
                        <input asp-for="EventInfo.OnDemand" /> @Html.DisplayNameFor(model => model.EventInfo.OnDemand)
                    </label>
                </div>
 
                <div class="form-check form-check-inline">
                    <label>
                        <input asp-for="EventInfo.Featured" /> @Html.DisplayNameFor(model => model.EventInfo.Featured)
                    </label>
                </div>
                @if (Model.Organization != null && User.IsInRole(Roles.SuperAdmin))
                {
                    <div class="form-check form-check-inline">
                        <label>
                            @Html.CheckBox(nameof(EventInfo.OrganizationId),
                                Model.EventInfo.OrganizationId == Model.Organization.OrganizationId,
                                new { onchange = $"javascript: document.getElementById('orgId').value = this.checked ? '{Model.Organization.OrganizationId}' : null;" })
                            Assosiert med @Model.Organization.NameAndHostname
                            <input id="orgId" type="hidden" asp-for="EventInfo.OrganizationId" />
                        </label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="EventInfo.Description" class="control-label"></label>
                <textarea asp-for="EventInfo.Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="EventInfo.Description" class="text-danger"></span>
            </div>
             <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.MaxParticipants" class="control-label"></label>
                    <input asp-for="EventInfo.MaxParticipants" class="form-control" />
                    <span asp-validation-for="EventInfo.MaxParticipants" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EventInfo.MoreInformation" class="control-label"></label>
                <textarea asp-for="EventInfo.MoreInformation" class="form-control" rows="6"></textarea>
                <span asp-validation-for="EventInfo.MoreInformation" class="text-danger"></span>
            </div>

            <hr>
            <h2>Sted</h2>
            <div class="form-group">
                <label asp-for="EventInfo.Location" class="control-label"></label>
                <input asp-for="EventInfo.Location" class="form-control" />
                <span asp-validation-for="EventInfo.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventInfo.City" class="control-label"></label>
                <input asp-for="EventInfo.City" class="form-control" />
                <span asp-validation-for="EventInfo.City" class="text-danger"></span>
            </div>
                   <hr>
            <h2>Datoer</h2>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.DateStart" class="control-label"></label>
                    <input asp-for="EventInfo.DateStart" class="form-control" />
                    <span asp-validation-for="EventInfo.DateStart" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.DateEnd" class="control-label"></label>
                    <input asp-for="EventInfo.DateEnd" class="form-control" />
                    <span asp-validation-for="EventInfo.DateEnd" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.LastRegistrationDate" class="control-label"></label>
                    <input asp-for="EventInfo.LastRegistrationDate" class="form-control" />
                    <span asp-validation-for="EventInfo.LastRegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.LastCancellationDate" class="control-label"></label>
                    <input asp-for="EventInfo.LastCancellationDate" class="form-control" />
                    <span asp-validation-for="EventInfo.LastCancellationDate" class="text-danger"></span>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <input type="submit" value="Lagre" class="btn btn-default" />
                <input type="submit" asp-page-handler="SaveAndEdit" value="Lagre og legg til mer info" class="btn btn-success" />

                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Admin/Events/Index">Vis kursoversikten</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

  var slug = function(str) {
  str = str.replace(/^\s+|\s+$/g, ''); // trim
  str = str.toLowerCase();

  // remove accents, swap ñ for n, etc
  var from = "ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆæ·/_,:;";
  var to   = "AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBEe------";
  for (var i=0, l=from.length ; i<l ; i++) {
    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
  }

  str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
    .replace(/\s+/g, '-') // collapse whitespace and replace by -
    .replace(/-+/g, '-'); // collapse dashes

  return str;
};

$("#EventInfo_Title").keyup(function(){
    var eventcode = slug($("#EventInfo_Title").val())
    $("#EventInfo_Code").val(eventcode);    
});

</script>
<script>
    ClassicEditor
        .create( document.querySelector( '#EventInfo_MoreInformation' ) )
        .catch( error => {
            console.error( error );
        } );
        
    ClassicEditor
        .create( document.querySelector( '#EventInfo_Program' ) ) 
        .catch( error => {
            console.error( error );
        } );
    ClassicEditor
        .create( document.querySelector( '#EventInfo_PracticalInformation' ) ) 
        .catch( error => {
            console.error( error );
        } );

            ClassicEditor
        .create( document.querySelector( '#EventInfo_WelcomeLetter' ) ) 
        .catch( error => {
            console.error( error );
        } );
</script>
}
