@page
@model Eventuras.Pages.Admin.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EventInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.MoreInformation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.MoreInformation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.Program)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.Program)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.OnDemand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.OnDemand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.Published)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.Published)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.DateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.DateStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.DateEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.DateEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.LastRegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.LastRegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.LastCancellationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.LastCancellationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.MaxParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.MaxParticipants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventInfo.CertificateDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventInfo.CertificateDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EventInfo.EventInfoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
