@page
@model losol.EventManagement.Pages.Admin.Temp.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].MoreInformation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].MinimumQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].VatPercent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].MaxOrdersCount)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Eventinfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoreInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VatPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOrdersCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eventinfo.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
