@page
@model losol.EventManagement.Pages.Admin.Events.DetailsModel

@{
    ViewData["Title"] = "@Model.EventInfo.Title";
}

<div class="jumbotron jumbotron-fluid min-height-33">
  <div class="container">
    <h1 class="display-1">@Model.EventInfo.Title</h1>
    <p class="lead">@Model.EventInfo.Description</p>
  </div>
</div>
<div class="container min-height-50">
	<div class="row">
		<div class="col-6">
		    <p>@Model.EventInfo.MoreInformation</p>

            <h2>Program</h2>
            @Model.EventInfo.Program
            @Model.EventInfo.Location
            @Model.EventInfo.DateStart
            @Model.EventInfo.DateEnd
            @Model.EventInfo.Price
		</div>
	</div>
    <div class="row pt-5">    
        <a asp-page="./Index" class="btn btn-info">Vis alle kurs</a>
    </div>
</div>

