@page "{id:int}"
@model losol.EventManagement.Pages.Admin.Events.AddRegistrationModel

@{
    ViewData["Title"] = "Legg til deltaker på arrangement";
}
<div class="bg-gray-300 py-3">
    <div class="container">
        <h1>Legg til deltaker</h1>
        <p>Arrangement: @Model.EventInfo.Title</p>
    </div>
</div>
<div class="container py-3 min-height-75">

        
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    


    <form method="post">
        <div class="row justify-content-between py-3">
            <div class="col-md-9"> 
                <div class="form-group">
                    <label>Bruker</label>
                    @Html.Partial("Partials/_UserSelect")
                </div>

                <h3 class="py-3"> REGISTRATION TYPE radios here</h3>

                
                <h3 class="py-3"> SHOW PRODUCTS HERE! with checkboxes and radios</h3>

                @* START PAYMENT  *@
                @if (Model.EventInfo.Products.Any()) {
                <div id="payment py-5" > 
                    <div class="form-group"><!-- Payment method -->
                        <label asp-for="Registration.PaymentMethodId"></label><br>
                        <div>
                        @foreach (var item in Model.PaymentMethods)
                        {
                            <label class="radio-inline pr-3">  
                            <input asp-for="Registration.PaymentMethodId" id="Registration_PaymentMethodId_@item.PaymentMethodId" type="radio" value="@item.PaymentMethodId" onclick="paymentMethod()"/> @item.Name  
                            </label>
                    
                        }
                        </div>
                    </div>
                    <p>
                        <button class="btn  btn-link" type="button" data-toggle="collapse" data-target="#customerdetails" aria-expanded="false" aria-controls="customerdetails">
                            <i class="material-icons align-top">reorder</i> Vis fakturadetaljer
                        </button>
                    </p>
                    <div class="collapse" id="customerdetails">
                        <div class="form-group">
                            <label asp-for="Registration.CustomerVatNumber"></label>
                            <input asp-for="Registration.CustomerVatNumber" class="form-control" />
                            <span asp-validation-for="Registration.CustomerVatNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Registration.CustomerName"></label>
                            <input asp-for="Registration.CustomerName" class="form-control" />
                            <span asp-validation-for="Registration.CustomerName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Registration.CustomerEmail"></label>
                            <input asp-for="Registration.CustomerEmail" class="form-control" />
                            <span asp-validation-for="Registration.CustomerEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Registration.CustomerInvoiceReference"></label>
                            <input asp-for="Registration.CustomerInvoiceReference" class="form-control" />
                            <span asp-validation-for="Registration.CustomerInvoiceReference" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                }

                <div class="form-group py-3">
                    <input type="submit" value="Registrer meg" class="btn btn-lg btn-success" />
                </div>
                    </div>
            </div>
        </div>
    </form>

    </div>
    
    @section Scripts {
        @Html.Partial("_ValidationScriptsPartial");
        @Html.Partial("Partials/_UserSelectScript");
        <script>
            function paymentMethod() {
                if (document.getElementById('Registration_PaymentMethodId_3').checked) {
                    $('#customerdetails').collapse('show');
                };   
            }
        </script>
    }
    
</div>