@page "{id:int}"
@model losol.EventManagement.Pages.Admin.Events.DetailsModel

@{
    ViewData["Title"] = @Model.EventInfo.Title;
}

<div class="jumbotron jumbotron-fluid">
    <div class="container"> 
        <div>
            <h1 class="display-4">@Model.EventInfo.Title</h1>
            <p class="lead pb-5">@Model.EventInfo.Description</p>
            @{ // Dates
                if(Model.EventInfo.DateStart != null) 
                {
                    <div>
                    <i class="material-icons  align-top">date_range</i> @Model.EventInfo.DateStart.Value.ToString("d")
                        
                            @if(Model.EventInfo.DateEnd != null) {
                            <text>- @Model.EventInfo.DateEnd.Value.ToString("d")</text>
                            }
                    </div>
                }
            
            }
            @{ // City
                if(Model.EventInfo.City != null) 
                {
                    <div>
                        <i class="material-icons align-top">location_on</i> @Model.EventInfo.City
                    </div>
                }
            }

            @{ // Location
                    if(Model.EventInfo.Location != null) 
                    {
                        <div>
                            <i class="material-icons align-top">hotel</i> @Model.EventInfo.Location
                        </div>
                    }
            }

            <div>
                Påmeldte: @Model.EventInfo.Registrations.Count().ToString()
            </div>
        </div>

        <div class="row">
            <div class="col">
            @if(@Model.EventInfo.Products.Any())
            {
                <br />
                <strong>Produkter: </strong>
                @foreach(var p in @Model.EventInfo.Products)
                {
                    @: <a href="/Admin/Products/@p.ProductId">@p.Name</a>  &nbsp;
                }
            }
            
        </div>

        
    </div>
        <div id="event-menu" class="py-3">

                <!-- ADD PARTICIPANT -->
                <a asp-page="AddRegistration" class="btn btn-success link-decoration-none">Ny deltaker</a>

                <!-- EDIT EVENT -->
                <a asp-page="Edit" asp-route-id="@Model.EventInfo.EventInfoId" class="btn btn-warning link-decoration-none">Rediger</a>
  
                <!-- COMMUNICATE MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Send info til alle
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item link-decoration-none" href="#" onclick="sendAll(); return false;" role="button">Epost</a>
                    <a class="dropdown-item link-decoration-none" href="#" onclick="smsAll();return false;" role="button">Tekstmelding</a>
                    <a asp-page="Messaging" asp-route-id="@Model.EventInfo.EventInfoId" class="dropdown-item link-decoration-none">Meldingslogg</a>
                </div>
                </div>

                @Html.Partial("Partials/_EmailModal")
                @Html.Partial("Partials/_SmsModal")


                <!-- ECONOMY MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    &Oslash;konomi
                </button>
                <div class="dropdown-menu">
                    <a asp-page="./Orders" asp-route-id="@Model.EventInfo.EventInfoId" class="dropdown-item link-decoration-none">Vis alle ordre</a>
                </div>
                </div>

                 <!-- CERTIFICATES MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kursbevis
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item link-decoration-none" href="/certificate/preview/event/@Model.EventInfo.EventInfoId" target="_blank" role="button">Forh&aring;ndsvis kursbevis</a>
                    <a class="dropdown-item link-decoration-none" href="#" data-toggle="modal" data-target="#sendCertificatesModal" role="button">Send ut kursbevis</a>
                </div>
                </div>

                <!-- CERTIFICATES Send Modal -->
                <div class="modal fade" id="sendCertificatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send kursbevis til deltakerne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sertifikatet går til alle deltakere som er møtt. 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" onclick="emailCertificatesToAll()" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>


        </div>
    </div>
    </div>
</div>
 
<div class="container min-height-50 pb-5">
	<div class="row">
		<div class="col">
            <table  
                id="participants-table"
                data-toggle="table" 
                data-url="/Admin/Events/Details/@Model.EventInfo.EventInfoId?handler=Participants"
                data-pagination="false"
                data-show-columns="true"
                data-show-export="true"
                data-sort-name="name"
                data-sort-order="asc"
                data-icons-prefix="fa"
                data-icons="icons"
                data-search="true"
                data-advanced-search="true"
                data-search-align="left"
                data-show-refresh="true"
                data-click-to-select="true"
                data-export-options='{
                    "fileName": "Deltakere-@Model.EventInfo.Code-@DateTime.Now.ToString("yyyy-MM-dd")"
                }'>
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Navn</th>
                        <th data-field="email" data-sortable="true" data-visible="false">Epost</th>
                        <th data-field="phone">Telefon</th>
                        <th data-field="jobTitle" data-visible="false">Stilling</th>
                        <th data-field="employer" data-visible="false">Arbeidsplass</th>
                        <th data-field="city" data-visible="false">Sted</th>
                        <th data-field="products" data-formatter="ProductsFormatter">Detaljer</th>
                        <th data-formatter="Attended" data-events="attendedEvents">Status</th>
                        <th data-formatter="RowActions" data-events="operateEvents">Meny</th>
                    </tr>
                </thead>
            </table> 
		</div>
	</div>
    <div class="row">
        <div class="col">
            <h2>Andre deltakere/stab</h2>
            <table  
                id="participants-table"
                data-toggle="table" 
                data-url="/Admin/Events/Details/@Model.EventInfo.EventInfoId?handler=OtherAttendees"
                data-pagination="false"
                data-show-columns="true"
                data-show-export="true"
                data-sort-name="name"
                data-sort-order="asc"
                data-icons-prefix="fa"
                data-icons="icons"
                data-search="true"
                data-advanced-search="true"
                data-search-align="left"
                data-show-refresh="true"
                data-click-to-select="true"
                data-export-options='{
                    "fileName": "Deltakere-@Model.EventInfo.Code-@DateTime.Now.ToString("yyyy-MM-dd")"
                }'>
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Navn</th>
                        <th data-field="email" data-sortable="true" data-visible="false">Epost</th>
                        <th data-field="phone">Telefon</th>
                        <th data-field="type">Type</th>
                        <th data-formatter="Attended" data-events="attendedEvents">Status</th>
                        <th data-formatter="RowActions" data-events="operateEvents">Meny</th>
                    </tr>
                </thead>
            </table> 
        </div>
    </div>

     <div class="row">
        <div class="col">
            <h2>Avmeldte</h2>
            <table  
                id="participants-table"
                data-toggle="table" 
                data-url="/Admin/Events/Details/@Model.EventInfo.EventInfoId?handler=Cancelled"
                data-pagination="false"
                data-show-columns="true"
                data-show-export="true"
                data-sort-name="name"
                data-sort-order="asc"
                data-icons-prefix="fa"
                data-icons="icons"
                data-search="true"
                data-advanced-search="true"
                data-search-align="left"
                data-show-refresh="true"
                data-click-to-select="true"
                data-export-options='{
                    "fileName": "Deltakere-@Model.EventInfo.Code-@DateTime.Now.ToString("yyyy-MM-dd")"
                }'>
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Navn</th>
                        <th data-field="email" data-sortable="true" data-visible="false">Epost</th>
                        <th data-field="phone">Telefon</th>
                        <th data-field="jobTitle">Stilling</th>
                        <th data-field="employer" data-visible="false">Arbeidsplass</th>
                        <th data-field="city">Sted</th>
                        <th data-formatter="Attended" data-events="attendedEvents">Status</th>
                        <th data-formatter="RowActions" data-events="operateEvents">Meny</th>
                    </tr>
                </thead>
            </table> 
        </div>
    </div>
</div>

<!-- Edit products modal -->
<div id="modal-edit-products" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @foreach(var product in Model.EventInfo.Products) {
            <div class="row product-input-group">
                <div class="col-2">
                    <input id="input-quantity-@product.ProductId" 
                        class="input-quantity"
                        style="width: 100%" />
                    <input type="hidden" value="@product.ProductId" class="input-prodid" />
                </div>
                <div class="col-10" id="content-@product.ProductId">
                    <h4>@product.Name</h4>
                    <p>@product.Description</p>
                    @foreach(var variant in product.ProductVariants) {
                        <input type="radio" 
                            name="variant-radio-@product.ProductId" 
                            value="@variant.ProductVariantId" /> @variant.Name <br />
                    }
                </div>
            </div>
        }
      </div>
      <div class="modal-footer">
        <button id="btn-save-product-changes" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@section scripts { 
    <script>
    let recipients = [];
    let includeOrders = false;
    let eventId = @Model.EventInfo.EventInfoId;
    </script>
    @Html.Partial("Partials/_EmailModalScripts")
    <script>

    let registrationId = 0;
    const $table = $('#participants-table');
    $('#toolbar').find('select').change(function () {
        $table.bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });

    function RowActions(value, row, index, field) {
            let actions = [];

            // Registration status
            if(row.status == 'Draft' || row.status == 'Verified') {
                actions.push('<button type="button" class="btn btn-warning btn-attended">Møtt?</button>');
            }
            if((row.status == 'Attended')) {
                actions.push('<button type="button" class="btn btn-secondary btn-finished">Fullført?</button>');
            }
            if((row.status == 'Finished')) {
                actions.push('<button type="button" class="btn btn-secondary" disabled>Fullført</button>');
            }
            if((row.status == 'NotAttended')) {
                actions.push('<span class="badge badge-warning">Ikke møtt</span>');
            }

            // Edit info menu
            actions.push(
            '<div class="btn-group" role="group">' + 
                '<button id="btnGroupChange" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Endre</button>' + 
                '<div class="dropdown-menu py-3" aria-labelledby="btnGroupChange">' +
                    '<a href="/Admin/Registrations/Details/' + row.registrationId + '" alt="Vis registrering" class="dropdown-item link-decoration-none"><i class="fa fa-id-card-o" aria-hidden="true"></i> Registrering</a>' +
                    '<a href="#" class="dropdown-item link-decoration-none btn-edit-products"><i class="fa fa-list" aria-hidden="true"></i> Produkter</a>' + 
                '</div>' + 
            '</div>');

            // Communications menu
            actions.push(
            '<div class="btn-group" role="group">' + 
                '<button id="btnGroupSendToParticipant" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Send</button>' + 
                '<div class="dropdown-menu py-3" aria-labelledby="btnGroupSendToParticipant">' +
                    '<a href="#" data-participantemail="' + row.email + '" class="dropdown-item link-decoration-none btn-send-sms ">SMS</a>' + 
                    '<a href="#" data-participantemail="' + row.email + '" class="dropdown-item link-decoration-none btn-send-email ">Epost</a>'+
                '</div>' + 
            '</div>');

            // Certificate menu
            if(row.hasCertificate)
            {
                const dropdownMarkup = '<div class="btn-group" role="group">' +
                        '<a class="btn btn-secondary link-decoration-none" href="/certificate/' + 
                        row.certificateId + '/download" target="_blank">Diplom</a>' +
                        '<button type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                        '</button>' +
                        '<div class="dropdown-menu">' +
                            '<button class="dropdown-item btn-send-certificate-again">Send igjen</button>' +
                        '</div>' +
                    '</div>';
                actions.push(dropdownMarkup);
            }
            return actions.join('');
        }

    function ProductsFormatter(products, row, index, field) {
        let outHtml = ['<ul class="list-unstyled">'];
        products.forEach(function(p) {
            p.quantity = p.item3;
            if(p.quantity > 1) {
                outHtml.push('<li>' + p.quantity + ' &times; '+ p.item1.name);
            }
            else {
                outHtml.push('<li>' + p.item1.name);
            }
            if(p.item2) {
                outHtml.push('(' + p.item2.name + ')');
            }
        });
        outHtml.push('</ul>');
        return outHtml.join('');
    }

    window.icons = {
        refresh: 'fa-refresh',
        toggle: 'fa-toggle-on',
        columns: 'fa-th-list',
        export: 'fa-download'
    };

    window.operateEvents = {
        'click .btn-send-email': function (e, value, row, index) {
            recipients = [{
                name: row.name,
                email: row.email
            }];
            includeOrders = false;
            showEmailModal(row.name);
            hideOrderCheckbox();
        },
        'click .btn-send-sms': function(e, value, row, index) {
            recipients = [row.phone];
            $('#sms-modal-title').text('Send SMS til ' + row.name);
            $('#sms-modal').modal('show');
        },
        'click .btn-send-certificate-again': function(e, value, row, index) {
            toastr.info("Please wait.");
            $.postJSON('/api/certificates/registration/' + row.registrationId + '/email/')
            .done(function(data) {
                $('#sendCertificatesModal').modal('hide');
                toastr.success('Emailed to ' + row.name + '.')
            })
            .fail(function() {
                toastr.error('Generating/emailing certificate failed.')
            })
        },
        'click .btn-edit-products': function(e, value, row, index) {
            $('.input-quantity').val(0);
            row.products.forEach(function(p) {
                $('#input-quantity-'+p.item1.productId).val(p.item3);
                if(p.item2) {
                    $('#content-' +p.item1.productId + ' input[name=variant-radio-'+p.item1.productId+']').val([p.item2.productVariantId]);
                }
            });
            registrationId = row.registrationId;
            $('#modal-edit-products').modal('show');
        },

        // Attended functions
        'click .btn-attended': function(e, value, row, index) {
            $.postJSON("/api/participants/mark_as_attended/" + row.registrationId, null)
            .done(function(){
                toastr.success('Da va følgende registrert ombord ' + row.name + '.');
                $('#participants-table').bootstrapTable('refresh', null);
                
            })
            .fail(function(){
                toastr.error('Uuuups, fikk ikke registrert ' + row.name + '. ')
            })
        },
        'click .btn-not-attended': function(e, value, row, index) {
            $.postJSON("/api/participants/mark_as_notattended/" + row.registrationId, null)
            .done(function(){
                toastr.success('Attendance removed for  ' + row.name + '.');
                $('#participants-table').bootstrapTable('refresh', null);
            })
            .fail(function(){
                toastr.error('Fikk ikke til å gjøre noe med ' + row.name + '. ')
            })
        },
        'click .btn-finished': function(e, value, row, index) {
            $.postJSON("/api/participants/mark_as_finished/" + row.registrationId, null)
            .done(function(){
                toastr.success('Da va følgende registrert som fullført ' + row.name + '.');
                $('#participants-table').bootstrapTable('refresh', null);
                
            })
            .fail(function(){
                toastr.error('Uuuups, fikk ikke registrert ' + row.name + '. ')
            })
        }
    };


    $('#btn-save-product-changes').on('click', function(){
        const data = {
            registrationId: registrationId,
            products: $('.product-input-group').get()
                        .map(function(d) { 
                            const productId = $(d).find('.input-prodid').first().val();
                            return {
                                id: productId, 
                                quantity: $(d).find('.input-quantity').first().val(),
                                variantId: $(d).find('input[name="variant-radio-'+ productId +'"]:checked').val()
                            }
                        })
        };
        $.postJSON('/api/v0/orders/update-order', data)
            .done(function(){
                $('#participants-table').bootstrapTable('refresh', null);
                toastr.success('Oppdaterte produkter');
            })
            .fail(function(){
                toastr.fail('Noe gikk galt. Sorry!');
            })
    })
    
    function sendAll() {
        const data = $table.bootstrapTable('getData', {useCurrentPage: false});
        recipients = data.map(function(x){ 
            return { name: x.name, email: x.email } 
        });
        includeOrders = true;
        showEmailModal('alle deltakere');
        showOrderCheckbox();
    }

    function smsAll() {
        const data = $table.bootstrapTable('getData', {useCurrentPage: false});
        recipients = data.map(function(x){ return x.phone });
        $('#sms-modal-title').text('Send SMS til alle deltakere');
        $('#sms-modal').modal('show');
    }

    function sendSms() {
        const text = $('#sms-text').val();
        const sms = {
            to: recipients,
            text: text,
            eventInfoId: @Model.EventInfo.EventInfoId
        }
        $.postJSON('/api/v0/messaging/sms', sms)
            .done(function(response){
                toastr.success(response, 'SMS til alle', {timeOut: 60000});
            })
            .fail(function(){
                toastr.error('Could not send the SMS.');
            });
        $('#sms-modal').modal('hide');
    }

    function emailCertificatesToAll() {
        toastr.info("Vær tålmodig, det kan ta litt tid.");
        $.postJSON('/api/certificates/event/@Model.EventInfo.EventInfoId/email', null)
        .done(function(){
            toastr.success('Kursbevisene er på vei!');
            $('#sendCertificatesModal').modal('hide');
            $('#participants-table').bootstrapTable('refresh', null);
        })
        .fail(function(){
            toastr.error('Nåkka gikk galt. Sorry.')
        })
    }
</script>
    @await Html.PartialAsync("_CompBootstrapTable")
}