@page
@model losol.EventManagement.Pages.Admin.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bg-gray-300">
    <div class="container py-2">
        <h1>Kursoversikt</h1>

        <p>
            <a asp-page="Create" class="btn btn-success link-decoration-none py-2 my-3">Opprett nytt</a>
        </p>
    </div>
</div>
<div class="container py-5">



<table class="table table-striped table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventInfo[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventInfo[0].OnDemand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventInfo[0].Published)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventInfo[0].City)
                </th>
                <th>
                   Datoer
                </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                <a href="/Events/Details?id=@item.EventInfoId"><i class="fa fa-globe"></i><span class="sr-only">Vis infosiden</span></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnDemand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart) - @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            
            <td>
            @if (item.ManageRegistrations) {
                <a asp-page="./Details" asp-route-id="@item.EventInfoId" class="btn btn-success link-decoration-none">Vis</a>
                }
                <a asp-page="./Edit" asp-route-id="@item.EventInfoId" class="btn btn-info link-decoration-none">Endre</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>