@page "{id:int}"
@model losol.EventManagement.Pages.Admin.Events.MessagingLogModel

@{
    ViewData["Title"] = "Meldinger – " + @Model.EventInfo.Title;
}

<div class="bg-info text-light py-1 px-3">
    &lt; <a asp-page="./Details" asp-route-id="@Model.EventInfo.EventInfoId" class="text-light link-decoration-none">Vis arrangement</a>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container"> 
        <div>
            <h1 class="display-4">Meldinger @Model.EventInfo.Title</h1>
            <p class="lead">Beskjeder sendt ut.</p>
            <a asp-page="./Messaging" asp-route-id="@Model.EventInfo.EventInfoId" class="btn btn-success link-decoration-none">Ny melding</a>
        </div>
    </div>
</div>
<div class="container">
    @foreach (var message in Model.Messages) {
        <h3>@message.MessageType &nbsp;&nbsp;
        <small><i class="fa fa-clock-o" aria-hidden="true"></i> @message.TimeStamp.ToLocalTime()</small></h3>
        <p>Til: @message.Recipients.ToString()</p>
        <p>Innhold: @message.MessageContent</p>
        <p>Resultat: @message.Result</p>
        <hr class="py-3" />
    }
</div>