@page "{id:int}"
@model losol.EventManagement.Pages.Admin.Events.OrdersModel

@{
    ViewData["Title"] = "Ordrer for arrangement";
}
<div class="bg-gray-300 py-3">
    <div class="container">
        <h1>Ordre for arrangement</h1>
        <p> Totalt antall deltakere: @Model.Registrations.Count()</p>
    </div>
</div>

<div class="container py-5 min-height-75">
    @if (Model.Registrations.Any()) 
    {
        foreach (var registration in Model.Registrations) 
        {
            <div class="card my-2 p-3 border-0">
                <h3 class="py-1">@registration.ParticipantName</h3>

                @foreach (var order in registration.Orders) 
                {
                    <div class="card p-3 ">
                        <h5>#@order.OrderId &nbsp;<order-status value="@order.Status" /></h5>
                        <p>Fakturamottaker: @order.CustomerName</p>
                        <ul class="">
                        @foreach (var orderline in order.OrderLines) 
                        {
                            <li>@orderline.ProductName - kr @orderline.Price</li>
                        }
                        </ul>
                        <p>
                            <a asp-page="../Orders/Details" asp-route-id="@order.OrderId" class="btn btn-secondary link-decoration-none">Vis ordre</a>
                        </p>
                    </div>
                }
            </div>
        }
    }
</div>
