@page
@model losol.EventManagement.Pages.Admin.Events.ParticipantsModel

@{
    ViewData["Title"] = @Model.EventInfo.Title;
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">@Model.EventInfo.Title</h1>
    <p class="lead pb-5">@Model.EventInfo.Description</p>
     @{ // Dates
        if(Model.EventInfo.DateStart != null) 
        {
            <div class="col-md-3">
            <i class="material-icons  align-top">date_range</i> @Model.EventInfo.DateStart.Value.ToString("d")
                
                    @if(Model.EventInfo.DateEnd != null) {
                    <text>- @Model.EventInfo.DateEnd.Value.ToString("d")</text>
                    }
            </div>
        }
    
     }
    @{ // City
        if(Model.EventInfo.City != null) 
        {
            <div class="col-md-3">
                <i class="material-icons align-top">location_on</i> @Model.EventInfo.City
            </div>
        }
    }

     @{ // Location
            if(Model.EventInfo.Location != null) 
            {
                <div class="col-md-3">
                    <i class="material-icons align-top">hotel</i> @Model.EventInfo.Location
                </div>
            }
            @* Price *@
            <div class="col-md-3">
                @if (Model.EventInfo.Price.HasValue) {
                <i class="material-icons align-top">credit_card</i> @Model.EventInfo.Price.Value.ToString("0 kr")
                }
            </div>
     }
        <div id="communicate" class="py-3">

                <!-- COMMUNICATE MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Send info til alle
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item link-decoration-none" href="#" onclick="sendAll(); return false;" role="button">Epost</a>
                    <a class="dropdown-item link-decoration-none" href="#" onclick="smsAll();return false;" role="button">Tekstmelding</a>
                </div>
                </div>

                <!-- EMAIL Modal -->
                <div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="email-modal-title">Send epost til alle deltakere</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="email-subject">Email Subject</label>
                                <input class="form-control" id="email-subject" />
                            </div>

                            <div class="form-group">
                                <label for="email-text">Email Text</label>
                                <textarea class="form-control" id="email-text" rows="8"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" onclick="sendEmail()" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>   
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <!-- SMS Modal -->
                <div class="modal fade" id="sms-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="sms-modal-title" class="modal-title" id="exampleModalLabel">Send SMS til deltakerne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="sms-text">SMS Text</label>
                            <textarea class="form-control" id="sms-text" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" onclick="sendSms()" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>


                <!-- ECONOMY MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    &Oslash;konomi
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item link-decoration-none" href="#" data-toggle="modal" data-target="#economyModal" role="button">Fakturerer kurset</a>
                </div>
                </div>

                <!-- ECONOMY Modal -->
                <div class="modal fade" id="economyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send faktura til deltakerne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Koden ikke ferdig. Fakturer kurs?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>


                 <!-- CERTIFICATES MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Kursbevis
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item link-decoration-none" href="#" data-toggle="modal" data-target="#previewCertificatesModal" role="button">Forh&aring;ndsvis kursbevis</a>
                    <a class="dropdown-item link-decoration-none" href="#" data-toggle="modal" data-target="#sendCertificatesModal" role="button">Send ut kursbevis</a>
                </div>
                </div>

                <!-- CERTIFICATES Preview Modal -->
                <div class="modal fade" id="previewCertificatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Forhåndsvis kursbevis</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Viser et sertifikat når ferdig.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>

                <!-- CERTIFICATES Preview Modal -->
                <div class="modal fade" id="sendCertificatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send kursbevis til deltakerne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Sertifikatet går til alle deltakere som er møtt. 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>


        </div>
    </div>
    </div>
</div>
<div class="container min-height-50">
	<div class="row">
		<div class="col-md-9">

            <table  
                id="table"
                data-toggle="table" 
                data-url="/Admin/Events/Participants?id=@Model.EventInfo.EventInfoId&handler=Participants"
                data-pagination="false"
                data-show-columns="true"
                data-show-export="true"
                data-sort-name="name"
                data-sort-order="asc"
                data-icons-prefix="fa"
                data-icons="icons"
                data-search="true"
                data-advanced-search="true"
                data-search-align="left"
                data-show-refresh="true"
                data-click-to-select="true"
                data-export-options='{
                    "fileName": "Deltakere-@Model.EventInfo.Code-@DateTime.Now.ToString("yyyy-MM-dd")", 
                    "ignoreColumn": ["asdf"]
                }'>
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Navn</th>
                        <th data-field="email" data-sortable="true">Epost</th>
                        <th data-field="phone">Telefon</th>
                        <th data-field="jobtitle">Stilling</th>
                        <th data-field="employer" data-visible="false">Arbeidsplass</th>
                        <th data-field="city">Sted</th>
                        <th data-formatter="Attended">M&oslash;tt</th>
                        <th data-formatter="RowActions" data-events="operateEvents">Meny</th>
                    </tr>
                </thead>
            </table>



            
		</div>
        <div class="col-md-3">

        </div>
	</div>
    <div class="row">
        <div class="col">
            @if(@Model.EventInfo.Products.Any())
            {
                <br />
                <strong>Products: </strong>
                @foreach(var p in @Model.EventInfo.Products)
                {
                    @: <a href="/Admin/Products/@p.ProductId">@p.Name</a>  &nbsp;
                }
            }
            
        </div>
    </div>
</div>

@section scripts { 
    <script>

    // Helper function
    $.postJSON = function(url, data, callback) {
        return jQuery.ajax({
            headers: { 
                'Content-Type': 'application/json' 
            },
            'type': 'POST',
            'url': url,
            'data': JSON.stringify(data)
        });
    };

    const $table = $('#table');
    $('#toolbar').find('select').change(function () {
        $table.bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });

    function Attended(value, row, index, field) {
            actions = [
                '<button type="button" class="btn btn-success mr-1">Møtt</button>',
          ].join('');
            return actions;
        }
    function RowActions(value, row, index, field) {
            actions = [
                '<button type="button" data-participantemail="' + row.email + '" class="btn btn-secondary btn-send-sms mr-1">SMS</button>', 
                '<button type="button" data-participantemail="' + row.email + '" class="btn btn-secondary btn-send-email mr-1">Epost</button>', 
            ].join('');
            return actions;
        }

    window.icons = {
        refresh: 'fa-refresh',
        toggle: 'fa-toggle-on',
        columns: 'fa-th-list',
        export: 'fa-download'
    };

    let recipients = []
    window.operateEvents = {
        'click .btn-send-email': function (e, value, row, index) {
            recipients = [{
                name: row.name,
                email: row.email
            }];
            $('#email-modal-title').text('Send epost til ' + row.name);
            $('#email-modal').modal('show');
        },
        'click .btn-send-sms': function(e, value, row, index) {
            recipients = [row.phone];
            $('#sms-modal-title').text('Send SMS til ' + row.name);
            $('#sms-modal').modal('show');
        }
    };

    function sendAll() {
        const data = $table.bootstrapTable('getData', {useCurrentPage: false});
        recipients = data.map(function(x){ 
            return { name: x.name, email: x.email } 
        });
        $('#email-modal-title').text('Send epost til alle deltakere');
        $('#email-modal').modal('show');
    }

    function sendEmail() {
        const subject = $('#email-subject').val();
        const text = $('#email-text').val();
        const email = {
            to: recipients,
            subject: subject,
            message: text
        };
        $.postJSON('/api/v0/messaging/email', email)
            .done(function(){
                if(recipients.length == 1){
                    toastr.success('Email sent to ' + recipients[0].name + '.');
                } 
                else {
                    toastr.success('Email sent to ' + recipients.length + ' participants.');
                }
            })
            .fail(function(){
                toastr.error('Could not send the Email.');;
            });
        $('#email-modal').modal('hide');
    }

    function smsAll() {
        const data = $table.bootstrapTable('getData', {useCurrentPage: false});
        recipients = data.map(function(x){ return x.phone });
        $('#sms-modal-title').text('Send SMS til alle deltakere');
        $('#sms-modal').modal('show');
    }

    function sendSms() {
        const text = $('#sms-text').val();
        const sms = {
            to: recipients,
            text: text
        }
        $.postJSON('/api/v0/messaging/sms', sms)
            .done(function(){
                toastr.success('SMS sent to ' + recipients.length + ' participants.');
            })
            .fail(function(){
                toastr.error('Could not send the SMS.');
            });
        $('#sms-modal').modal('hide');
    }

</script>
    @await Html.PartialAsync("_CompBootstrapTable")
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
}
