@page "{id:int}"
@model losol.EventManagement.Pages.Admin.Registrations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="bg-gray-300 py-3">
    <div class="container">
        <h2>Rediger registrering</h2>
        <p>Deltaker: @Model.Registration.User.Name (@Model.Registration.User.Email)</p>
        <p>Arrangement: @Model.Registration.EventInfo.Title</p>
    </div>
</div>

<div class="container py-3">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Registration.RegistrationId" />

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Registration.FreeRegistration" /> @Html.DisplayNameFor(model => model.Registration.FreeRegistration)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Registration.Verified" /> @Html.DisplayNameFor(model => model.Registration.Verified)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Registration.Diploma" /> @Html.DisplayNameFor(model => model.Registration.Diploma)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.ParticipantName" class="control-label"></label>
                    <input asp-for="Registration.ParticipantName" class="form-control" />
                    <span asp-validation-for="Registration.ParticipantName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.ParticipantJobTitle" class="control-label"></label>
                    <input asp-for="Registration.ParticipantJobTitle" class="form-control" />
                    <span asp-validation-for="Registration.ParticipantJobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.ParticipantEmployer" class="control-label"></label>
                    <input asp-for="Registration.ParticipantEmployer" class="form-control" />
                    <span asp-validation-for="Registration.ParticipantEmployer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.ParticipantCity" class="control-label"></label>
                    <input asp-for="Registration.ParticipantCity" class="form-control" />
                    <span asp-validation-for="Registration.ParticipantCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.CustomerName" class="control-label"></label>
                    <input asp-for="Registration.CustomerName" class="form-control" />
                    <span asp-validation-for="Registration.CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.CustomerEmail" class="control-label"></label>
                    <input asp-for="Registration.CustomerEmail" class="form-control" />
                    <span asp-validation-for="Registration.CustomerEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.CustomerVatNumber" class="control-label"></label>
                    <input asp-for="Registration.CustomerVatNumber" class="form-control" />
                    <span asp-validation-for="Registration.CustomerVatNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.CustomerInvoiceReference" class="control-label"></label>
                    <input asp-for="Registration.CustomerInvoiceReference" class="form-control" />
                    <span asp-validation-for="Registration.CustomerInvoiceReference" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.Notes" class="control-label"></label>
                    <textarea asp-for="Registration.Notes" class="form-control" ></textarea>
                    <span asp-validation-for="Registration.Notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.Log" class="control-label"></label>
                    <textarea asp-for="Registration.Log" class="form-control"></textarea>
                    <span asp-validation-for="Registration.Log" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Registration.PaymentMethod" class="control-label"></label>
                    <select asp-for="Registration.PaymentMethod" class="form-control" asp-items="ViewBag.PaymentMethod"></select>
                    <span asp-validation-for="Registration.PaymentMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
