@page "{id}/{slug?}"
@model DetailsModel

@{
    ViewData["Title"] = @Model.EventInfo.Title;
}

@{
    var heroStyle = "";
    if (Model.EventInfo.HasFeaturedImage)
    {
    heroStyle = $@"
        background: url('{Model.EventInfo.FeaturedImageUrl}');
        background-size: cover;
        background-position: center center;
        ";
    }
}   


   @if (Model.EventInfo.Status == Eventuras.Domain.EventInfo.EventInfoStatus.Cancelled) {
    <div class="jumbotron jumbotron-fluid bg-danger text-light">
    <div class="container">
        <h1 class="display-4">Avlyst :(</h1>
        <p class="lead">Ta kontakt med oss på epost for mer informasjon.</p>
    </div>
    </div>
}

<div class="bg-img min-height-33 hero center-both py-3 mb-5" style="@heroStyle">

    <div class="container hero-text">
        <h1 class="display-1">@Model.EventInfo.Title</h1>
        <p class="lead pb-5">@Model.EventInfo.Description</p>
        @{ // Dates
            if(Model.EventInfo.DateStart != null) 
            {
                <div class="py-1">
                <i class="material-icons  align-top">date_range</i> @Model.EventInfo.DateStart.Value.ToString("d")
                    
                        @if(Model.EventInfo.DateEnd != null) {
                        <text>- @Model.EventInfo.DateEnd.Value.ToString("d")</text>
                        }
                </div>
            }
    
        }
        @{ // City
            if(Model.EventInfo.City != null) 
            {
                <div class="py-1">
                    <i class="material-icons align-top">location_on</i> @Model.EventInfo.City
                </div>
            }
        }           
    </div>
</div>
<div class="container py-3 min-height-50">
	<div class="row">
		<div class="col-md-9" id="info">


            @* Registration link on top of page for smaller screens *@
            @if (!String.IsNullOrEmpty(Model.EventInfo.ExternalRegistrationsUrl) &&  !Model.EventInfo.ManageRegistrations) {
                <a href="@Model.EventInfo.ExternalRegistrationsUrl" class="btn d-md-none my-3 btn-block btn-lg btn-success link-decoration-none">Meld meg p&aring;</a>
            }
            else {
                <a href="/events/@Model.EventInfo.EventInfoId/reg/register" class="btn  my-3 btn-block btn-lg btn-success link-decoration-none">Meld meg p&aring;</a>  
            }
          
            @Html.Raw(Model.EventInfo.MoreInformation)

            @if (!String.IsNullOrEmpty(Model.EventInfo.Program) && Model.EventInfo.Program.Length > 20 ) {
                <h2 id="program">Program</h2>
                @Html.Raw(Model.EventInfo.Program)
            }

            @if (!String.IsNullOrEmpty(Model.EventInfo.PracticalInformation) && Model.EventInfo.PracticalInformation.Length > 20 ) {
                <h2 id="practical">Praktisk informasjon</h2>
                @Html.Raw(Model.EventInfo.PracticalInformation)
            }

            @* PRODUCTS 

            @if (Model.EventInfo.Products.Any())  {
                <h2 id="practical">Ekstra</h2>
                @foreach (var product in Model.EventInfo.Products.Where(m => m.Published == true))
                {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                        </div>
                    </div>
                </div>
                    
                }
            }
            *@
            
		</div>
        <div class="col-md-3">
            <div id="event-info" class="">
                @{ // Location
                    if(Model.EventInfo.Location != null) 
                    {
                        <div class="py-3">
                            <i class="material-icons align-top">hotel</i> @Model.EventInfo.Location
                        </div>
                    }
                }
            
            
            <a class="btn btn-block btn-light link-decoration-none" href="#program"><i class="material-icons align-middle">speaker_notes</i> Program</a>
            <a class="btn btn-block btn-light link-decoration-none" href="#practical"><i class="material-icons align-middle">hotel</i> Praktisk</a>

            <p>
            @if (!String.IsNullOrEmpty(Model.EventInfo.ExternalRegistrationsUrl) &&  !Model.EventInfo.ManageRegistrations) {
                <a href="@Model.EventInfo.ExternalRegistrationsUrl" class="btn  my-3 btn-block btn-lg btn-success link-decoration-none">Meld meg p&aring;</a>
            }
            else {
                <a href="/events/@Model.EventInfo.EventInfoId/reg/register" class="btn  my-3 btn-block btn-lg btn-success link-decoration-none">Meld meg p&aring;</a>  
            }
            </p>
            </div>

        </div>
	</div>
    <div class="row pt-5">
        <div class="col-md-12"> 
        
        <p><a asp-page="./Index" class=""><i class="material-icons">keyboard_arrow_left</i> Vis alle kurs</a></p>
        </div>
        
    </div>
</div>

@section HeadScripts {
    @if (Model.EventInfo.HasFeaturedImage)
    {
        <meta property="og:image" content="@Model.EventInfo.FeaturedImageUrl" />
    }
}
