@page "{id:int}"

@model Eventuras.Web.Pages.Admin.Sync.RunModel

@{
    var provider = !string.IsNullOrEmpty(Model.ServiceProviderName)
        ? Model.ServiceProviderName
        : "external services";
    ViewData["Title"] = $"Sync data with {provider}";
}

<div class="bg-gray-300 py-3">
    <div class="container">
        <h1>Data synchronization results</h1>
        @foreach (var result in Model.Results)
        {
            <h2>@result.ProviderName</h2>
            <ul>
                <li>Users created in LMS: @result.CreatedUserIds.Count.</li>
                <li>Users already existing in LMS: @result.ExistingUserIds.Count.</li>
                <li>Users previously synced: @result.PreviouslyRegisteredUserIds.Count.</li>
                <li>Users currently synced: @result.NewRegisteredUserIds.Count.</li>
                <li>Total users synced: @result.TotalRegisteredUserIds.Count.</li>
                <li>Errors: @result.UserExportErrors.Count</li>
            </ul>
        }
    </div>
</div>

<div class="container py-5 min-height-75">
    @foreach (var result in Model.Results)
    {
        @if (result.UserExportErrors.Any() || result.GenericErrors.Any())
        {
            <h2>@result.ProviderName errors</h2>
            foreach (var error in result.GenericErrors)
            {
                <pre>@error.Message</pre>
            }
            foreach (var error in result.UserExportErrors)
            {
                <pre>@error.Value.Message</pre>
            }
        }
    }
</div>
