@page
@model losol.EventManagement.Pages.Admin.Events.ParticipantsModel

@{
    ViewData["Title"] = @Model.EventInfo.Title;
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">@Model.EventInfo.Title</h1>
    <p class="lead pb-5">@Model.EventInfo.Description</p>
     @{ // Dates
        if(Model.EventInfo.DateStart != null) 
        {
            <div class="col-md-3">
            <i class="material-icons  align-top">date_range</i> @Model.EventInfo.DateStart.Value.ToString("d")
                
                    @if(Model.EventInfo.DateEnd != null) {
                    <text>- @Model.EventInfo.DateEnd.Value.ToString("d")</text>
                    }
            </div>
        }
    
     }
    @{ // City
        if(Model.EventInfo.City != null) 
        {
            <div class="col-md-3">
                <i class="material-icons align-top">location_on</i> @Model.EventInfo.City
            </div>
        }
    }

     @{ // Location
            if(Model.EventInfo.Location != null) 
            {
                <div class="col-md-3">
                    <i class="material-icons align-top">hotel</i> @Model.EventInfo.Location
                </div>
            }
            @* Price *@
            <div class="col-md-3">
                @if (Model.EventInfo.Price.HasValue) {
                <i class="material-icons align-top">credit_card</i> @Model.EventInfo.Price.Value.ToString("0 kr")
                }
            </div>
     }
    </div>
</div>
<div class="container min-height-50">
	<div class="row">
		<div class="col-md-9">
          



<table 
    data-toggle="table" 
    data-url="/Admin/Events/Participants?id=@Model.EventInfo.EventInfoId&handler=Participants"
    data-pagination="false"
    data-search="true"
    data-advanced-search="true"
    data-id-table="advancedTable">
    <thead>
        <tr>
            <th data-field="name">Navn</th>
            <th data-field="email">Epost</th>
            <th data-field="phone">Telefon</th>
        </tr>
    </thead>
</table>



            
		</div>
        <div class="col-md-3">

        </div>
	</div>
</div>

@section scripts { 
    @await Html.PartialAsync("_CompBootstrapTable")
}

