@page
@model losol.EventManagement.Pages.Admin.Events.ParticipantsModel

@{
    ViewData["Title"] = @Model.EventInfo.Title;
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">@Model.EventInfo.Title</h1>
    <p class="lead pb-5">@Model.EventInfo.Description</p>
     @{ // Dates
        if(Model.EventInfo.DateStart != null) 
        {
            <div class="col-md-3">
            <i class="material-icons  align-top">date_range</i> @Model.EventInfo.DateStart.Value.ToString("d")
                
                    @if(Model.EventInfo.DateEnd != null) {
                    <text>- @Model.EventInfo.DateEnd.Value.ToString("d")</text>
                    }
            </div>
        }
    
     }
    @{ // City
        if(Model.EventInfo.City != null) 
        {
            <div class="col-md-3">
                <i class="material-icons align-top">location_on</i> @Model.EventInfo.City
            </div>
        }
    }

     @{ // Location
            if(Model.EventInfo.Location != null) 
            {
                <div class="col-md-3">
                    <i class="material-icons align-top">hotel</i> @Model.EventInfo.Location
                </div>
            }
            @* Price *@
            <div class="col-md-3">
                @if (Model.EventInfo.Price.HasValue) {
                <i class="material-icons align-top">credit_card</i> @Model.EventInfo.Price.Value.ToString("0 kr")
                }
            </div>
     }
        <div id="communicate" class="py-3">

                <!-- COMMUNICATE MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Send info til alle
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item link-decoration-none" href="#" data-toggle="modal" data-target="#emailModal" role="button">Epost</a>
                    <a class="dropdown-item link-decoration-none" href="#" data-toggle="modal" data-target="#smsModal" role="button">Tekstmelding</a>
                </div>
                </div>

                <!-- EMAIL Modal -->
                <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send epost til alle deltakere</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Koden ikke ferdig.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>


                <!-- SMS Modal -->
                <div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send SMS til deltakerne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Koden ikke ferdig.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>


                <!-- ECONOMY MENU -->
                <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    &Oslash;konomi
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item link-decoration-none" href="#" data-toggle="modal" data-target="#economyModal" role="button">Fakturerer kurset</a>
                </div>
                </div>

                <!-- ECONOMY Modal -->
                <div class="modal fade" id="economyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send faktura til deltakerne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Koden ikke ferdig. Fakturer kurs?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>



        </div>
    </div>
    </div>
</div>
<div class="container min-height-50">
	<div class="row">
		<div class="col-md-9">

            <table  
                data-toggle="table" 
                data-url="/Admin/Events/Participants?id=@Model.EventInfo.EventInfoId&handler=Participants"
                data-pagination="false"
                data-show-columns="true"
                data-show-export="true"
                data-sort-name="name"
                data-sort-order="asc"
                data-icons-prefix="fa"
                data-icons="icons"
                data-search="true"
                data-advanced-search="true"
                data-search-align="left"
                data-show-refresh="true"
                data-click-to-select="true"
                data-id-table="advancedTable"
                data-export-options='{
                    "fileName": "Deltakere-@Model.EventInfo.Code-@DateTime.Now.ToString("yyyy-MM-dd")", 
                    "ignoreColumn": ["asdf"]
                }'>
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Navn</th>
                        <th data-field="email" data-sortable="true">Epost</th>
                        <th data-field="phone">Telefon</th>
                        <th data-formatter="RowActions">Meny</th>
                    </tr>
                </thead>
            </table>



            
		</div>
        <div class="col-md-3">

        </div>
	</div>
</div>

@section scripts { 
    <script>
    $(function () {
        var $table = $('#table');
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    });

    function RowActions(value, row, index, field) {
            actions = [
                '<button type="button" class="btn btn-success mr-1">Møtt</button>',
                '<button type="button" data-participantemail="' + row.email + '" class="btn btn-secondary mr-1" data-toggle="modal" data-target="#smsModal">SMS</button>', 
                '<button type="button" data-participantemail="' + row.email + '" class="btn btn-secondary mr-1" data-toggle="modal" data-target="#emailModal">Epost</button>', 
            ].join('');
            return actions;
        }

    window.icons = {
        refresh: 'fa-refresh',
        toggle: 'fa-toggle-on',
        columns: 'fa-th-list',
        export: 'fa-download'
    };

</script>
    
    @await Html.PartialAsync("_CompBootstrapTable")
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
}

