@page "{p:int?}"
@inject IOrderService orderService
@{
    int pageNumber = 1;
    if(RouteData.Values["p"] != null)
    {
        pageNumber = Convert.ToInt32(RouteData.Values["p"]);
    }
    var orders = await orderService.GetWithRegistrationsAsync();
}

<div class="container">
	<div class="row min-height-75 py-5">
        <div class="col">
            <h2>Alle ordre</h2>
            <table  
                data-toggle="table" 
                data-pagination="false"
                data-show-columns="true"
                data-show-export="true"
                data-sort-name="name"
                data-sort-order="asc"
                data-icons-prefix="fa"
                data-icons="icons"
                data-search="true"
                data-advanced-search="true"
                data-search-align="left"
                data-click-to-select="true"
                data-id-table="advancedTable" >
                <thead>
                    <tr>
                        <th data-field="id" data-sortable="true">ID</th>
                        <th data-field="regid" data-sortable="true">Registrering</th>
                        <th data-field="status" data-sortable="true">Status</th>
                        <th data-field="participant" data-sortable="true">Deltaker</th>
                        <th data-field="customer" data-sortable="true">Betaler</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var o in orders)
                    {
                        <tr>
                            <td data-field="id" data-sortable="true">@o.OrderId</td>
                            <td data-field="regid" data-sortable="true">@o.RegistrationId</td>
                            <td data-field="status" data-sortable="true"><order-status value="@o.Status" /></td>
                            <td data-field="participant" data-sortable="true">@o.Registration.ParticipantName</td>
                            <td data-field="customer" data-sortable="true">@o.CustomerName</td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@o.OrderId">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts { 
    <script>
    $(function () {
        var $table = $('table');
        window.icons = {
            toggle: 'fa-toggle-on',
            columns: 'fa-th-list',
            export: 'fa-download'
        };
    });
</script>
</script>
    @await Html.PartialAsync("_CompBootstrapTable")
}
